nav {
	position: absolute;

	z-index: 100;
	bottom: 0;
	right: 0;
	
	padding: 1rem;
	background-color: var(--background);
	color: var(--text);
}

ul {
	list-style: none;
}

.coin {
	position: absolute;
	
	z-index: 100;
	bottom: 2.5rem;
	right: 7.15rem;

	height: 2rem;
	width: 2rem;
	background-color: silver;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	&.finished {
		color: var(--background);
		background-color: gold;
	}

	&:not(.finished) {
		animation: coin-spin 1s linear infinite;
	}

	@keyframes coin-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}
