button {
	position: relative;
	cursor: pointer;
	min-width: 15rem;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	border: 0.5rem solid var(--text);
	background-color: transparent;
	transition: 0.5s;
	overflow: hidden;

	&:active:not(.disabled) {
		transform: scale(0.95);
	}

	&:hover:not(.disabled) {
		span {
			color: var(--background);
		}

		&::before {
			width: 110%;
		}
	}

	span {
		position: relative; // needed for stacking context
		z-index: 10;
		color: var(--text);
		text-transform: uppercase;
		transition: 0.5s;
		font-size: 2rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		aspect-ratio: 1/1;
		border-radius: 50%;
		background-color: var(--text);
		transition: 0.5s;
		z-index: 1;
	}
}