.container {
	width: 35rem;
	max-width: 30vw;
	color: var(--text);
}

.selected {
	outline: 0.5rem solid var(--text);
	border-radius: 1rem;
}

img {
	width: 100%;
	transition: 0.25s;
}

p {
	font-size: 2.2rem;
}

/* Disable zoom hover when selected */
.unselected img {
	transition: 0.25s;
}
.unselected img:hover {
	cursor: pointer;
	transform: scale(1.01)
}