<div class="page flex col gap-5 pa-5">

	@if (!winner) {
		<section class="flex row width-100 center gap-5">
			<app-contestant
				[contestant]="getLeftContestant()"
				[isLeftSide]="true"
				[isSelected]="leftSideSelected === true"
				(onVote)="handleVote($event)"></app-contestant>
	
				<div class="flex col gap-1 center">
					<p class="h1 text-center">Round {{ round }}</p>
					<p class="h3 subtext" *ngIf="roundAddendum !== null">{{ roundAddendum }}</p>
				</div>	
	
			<app-contestant
				[contestant]="getRightContestant()"
				[isSelected]="leftSideSelected === false"
				(onVote)="handleVote($event)"></app-contestant>
		</section>

		<app-button label="Next"
			(click)="nextRound()"
			[disabled]="leftSideSelected === null"
			class="mx-auto"></app-button>
	} @else {
		<section class="flex col width-100 center gap-5">
			<p class="h1 gold">Winner!</p>

			<app-contestant
				[isLeftSide]="true"
				[contestant]="winner"
				[canBeSelected]="false"></app-contestant>

			<app-button label="Home" routerLink="home"></app-button>
		</section>
	}

</div>